.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Đưa các ảnh xuống dưới nội dung chính */
}

.image {
  position: absolute;
  width: 100px; /* Điều chỉnh kích thước ảnh */
  height: 100px; /* Điều chỉnh kích thước ảnh */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  opacity: 0.7; /* Đặt opacity để ảnh không quá nổi bật */
}